*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: gainsboro;
}
.container{
    width: 200px;
    margin-top: 50px;
}
.caja{
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.boton{
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgb(3, 66, 129);
    color: white;
    margin-bottom: 10px;
    
}
.boton2{
    background-color:red;
}

.nuevo{
    width: 200px;
    background-color: rgb(50, 207, 11);
    height: 100px;
    color: white;
}